* {
    background-color: blanchedalmond;
}

@media (min-width: 400px) {
    div {
        margin: 5px 12px 8px 19px;
        height: 400px;
        width: 600px;
    }
}

.section1 {
    overflow: auto;
}

.section2 {
    overflow: hidden;
}

.section3 {
    overflow: scroll;
}

#save {
    background-color: blueviolet;
    color: azure;
    size: 2cm;
}

#importantinfo {
    color: crimson
}